/* NEW COLORS */
$carotene: #faa928;
$royal:    #0e7ac4;
$sky:      #3ea9f5;
$emerald:  #56be8e;
$rose:     #f27398;
$burnt:    #363945;

/* COLORS */
$bloodorange: #ff5454;
$sunburst: #ea7d24;
$turquoise: #1abc9c;
$seagreen: #78cd51;
