#tracking-tag,
#edit-html-ad {
  color: #555;
  font-family: monospace;
  font-size: 1.4rem;
  resize: none;
  height: 8rem;
}

#html-ad {
  color: #555;
  font-family: monospace;
  font-size: 1.4rem;
  resize: none;
  height: 20rem;
}

.itp-dropdown li:hover .remove-itp i,
.dma-dropdown li:hover .remove-dma i {
  color: #ff5454;
}

.itp-dropdown .no-select a:hover,
.dma-dropdown .no-select a:hover {
  background-color: #fff !important;
  cursor: not-allowed;
}

.remove-itp,
.remove-dma {
  text-align: right;
}

.remove-itp i,
.remove-dma i {
  position: relative;
  left: 0.9rem;
}

.no-select {
  background-color: #fff !important;
}

.dayparts {
  table-layout: fixed;
}

.dayparts tbody th {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.dayparts td {
  border-left: 0.1rem solid #ddd;
  min-width: 3.5rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dayparts td.selected {
  background-color: #78cd51;
  color: #27ae60;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: 0.8;
  padding-bottom: 6px !important;
  padding-top: 6px !important;
}

.dayparts td i.icon-ok {
  color: #f5f5f5;
  font-size: 1.5rem;
}

.dp-icon {
  float: right;
  position: relative;
  top: 0.3rem;
}

@media (max-width: 915px) {
  .dp-icon {display: none !important;}
}

.line-item-ad-form,
.ad-upload-form,
.library-form {
  height: 28rem !important;
  max-height: 28rem !important;
  min-height: 28rem !important;
}

.rotation-title {
  font-weight: 300;
}

.image-ad #select-adv {
  min-width: 15.8rem;
}

.upload-container:active {
  background-image: url(/assets/selectFile.png);
}

.upload-container {
  background-color: #5ebae7;
  background-image: url(/assets/selectFile.png);
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer !important;
  height: 3.4rem;
  overflow: hidden;
  position: relative;
}

.ad-upload-form .upload-container {
  width: 15.8rem;
  margin: 1rem auto 0;
}

.upload-container input {
  background-color: #eee;
  cursor: pointer;
  height: 3.4rem;
  left: -7rem;
  position: absolute;
  width: 22.8rem;
  filter: alpha(opacity=0);
  -ms-filter: "alpha(opacity=0)";
  opacity: 0;
}

.i-disabled {
  position: relative;
  z-index: -1;
}

.creative-preview {
  max-width: 58.8rem;
  max-height: 40rem;
  box-shadow: 0px 1px 9px 0px;
}

.radio-schedule {
  width: 9.7rem;
}

.radio-audio {
  width: 8rem;
}

.tv-targeting .even-spread-fifths {
  min-width: 17.6rem;
}

.tv-targeting i.icon-arrow-right {
  position: relative;
  top: 5rem;
  height: 2.5rem;
  width: 2rem;
}

.tv-targeting .th-type {
  min-width: 7rem;
  max-width: 7rem;
  width: 7rem;
}

.tv-targeting .th-file,
.tv-targeting .th-brand, {
  min-width: 14rem;
  max-width: 14rem;
  width: 14rem;
}

.tv-targeting .asset-tables {
  height: 16rem;
  overflow: scroll;
}

/* Animations */
/* ***** ***** ***** ***** */
