<!-- Breadcrumbs -->
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/campaigns">Campaigns</a></li>
  <li><a href="/campaigns/{{ campaign.id }}">{{ campaign.name }}</a></li>
  <li><a href="/campaigns/{{ lineitem.campaign_id }}/line-items/new">New Line Item</a></li>
</ul>

<form role="form" ng-submit="submit(lineitem)">
  <div class="widget">
    <legend>
      <i class="icon-list-alt"></i>
      Details
    </legend>
    <div class="widget-contents">
      <div class="even-spread-container between-rows">
        <!-- Line Item Name -->
        <input
          type="text"
          name="name"
          class="form-control even-spread-sixths"
          placeholder="Line Item Name"
          tabindex="1"
          ng-minlength="3"
          ng-model="lineitem.name"
          required />

        <!-- Date Range -->
        <input
          type="text"
          class="form-control even-spread-sixths"
          placeholder="Start Date"
          tabindex="2"
          datepicker-popup="EEEE, dd MMMM yyyy"
          show-weeks="false"
          min="today"
          name="start_date"
          ng-model="lineitem.start_date"
          calendar-popup
          required
        />
        <input
          type="text"
          class="form-control even-spread-sixths"
          placeholder="End Date"
          tabindex="3"
          datepicker-popup="EEEE, dd MMMM yyyy"
          show-weeks="false"
          name="end_date"
          ng-model="lineitem.end_date"
          calendar-popup
          required
        />

        <!-- Maximum CPM Bid -->
        <input
          type="number"
          step="0.01"
          name="max_cpm"
          placeholder="Maximum CPM Bid"
          class="form-control even-spread-sixths"
          tabindex="4"
          min="0"
          ng-model="lineitem.max_cpm"
          required
        />

        <!-- Cap Amount -->
        <input
          type="number"
          name="freq_cap_amount"
          placeholder="Cap Amount"
          class="form-control even-spread-sixths"
          tabindex="5"
          min="0"
          ng-model="lineitem.freq_cap_amount"
        />

        <!-- Cap Frequency -->
        <button
          type="button"
          placeholder="Cap Frequency"
          class="btn btn-default even-spread-sixths"
          tabindex="6"
          data-html="1"
          ng-model="lineitem.freq_cap_type"
          ng-options="freqCapType.value as freqCapType.name for freqCapType in freqCapTypes"
          data-animation="animation-flipX"
          bs-select
          > Action <span class="caret"></span>
        </button>
      </div>
    </div><!-- Close .widget-contents -->
  </div>

  <!-- TV Targeting widget -->
  <div class="widget">
    <legend>
      <i class="icon-play"></i>
      TV Targeting
    </legend>
    <div class="widget-contents" style="height: 18rem;">
      <div class="even-spread-container tv-targeting">

        <div class="even-spread-fifths">
          <label class="display-block">Strategy</label>
          <button
            type="button"
            placeholder="TV Strategy"
            class="btn btn-default match-width-select"
            tabindex="7"
            data-html="1"
            ng-model="lineitem.tv_strategy"
            ng-options="tvStrategy.value as tvStrategy.name for tvStrategy in tvStrategies"
            data-animation="animation-flipX"
            bs-select
            require-dropdown
            > Action <span class="caret"></span>
          </button>
          <br />
          <br />
          <div class="btn-group">
            <label class="display-block">Asset Type</label>
            <button
              type="button"
              class="btn btn-default radio-schedule"
              ng-disabled="lineitem.tv_strategy === 'conquest'"
              ng-model="chosenAsset"
              tabindex="8"
              btn-radio="'schedule'">
                <i class="icon-film"></i>
                Schedule
            </button>
            <button
              type="button"
              class="btn btn-default radio-audio"
              ng-model="chosenAsset"
              tabindex="9"
              btn-radio="'audio'">
                <i class="icon-volume-up"></i>
                Audio
            </button>
          </div>
        </div>

        <!-- <div class="even-spread-sixths"> -->
          <!-- <i ng-if="chosenAsset" class="icon-arrow-right icon-4x"></i> -->
        <!-- </div> -->

        <div class="even-spread-thirds text-left">
          <div class="table-responsive slide-left asset-tables" ng-if="chosenAsset">
            <label>Available Campaign-wide Assets</label>
            <table class="table table-condensed table-responsive table-hover">
              <thead>
                <tr>
                  <th class="text-left th-type">Type</th>
                  <th class="text-left th-file">Filename</th>
                  <th class="text-left th-brand">Brand</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  ng-if="chosenAsset === asset.type"
                  ng-repeat="asset in campaignAssets"
                  ng-class="{'disabled-table-row': asset.selected}"
                  >
                  <td>
                    <i ng-if="asset.type === 'schedule'" class="icon-film"></i>
                    <i ng-if="asset.type === 'audio'" class="icon-volume-up"></i>
                  </td>
                  <td class="text-left">{{ asset.filename }}</td>
                  <td class="text-left">{{ asset.brand }}</td>
                  <td class="action-col">
                    <i
                      class="icon-plus action-button add"
                      ng-click="addAsset(asset, $index)"
                      ng-if="!asset.selected"
                    >
                    </i>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>

        <!-- <div class="even-spread-sixths"> -->
          <!-- <i ng-if="lineitem.tv_strategy_assets.length" class="icon-arrow-right icon-4x"></i> -->
        <!-- </div> -->

        <div class="even-spread-thirds text-left">
          <div class="table-responsive slide-left" ng-if="lineitem.tv_strategy_assets.length">
            <label>Assets Selected for this Line Item</label>
            <table class="table table-condensed table-responsive table-hover">
              <thead>
                <tr>
                  <th class="text-left th-type">Type</th>
                  <th class="text-left th-file">Filename</th>
                  <th class="text-left th-brand">Brand</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr class="slide-left" ng-repeat="asset in lineitem.tv_strategy_assets">
                  <td>
                    <i ng-if="asset.type === 'schedule'" class="icon-film"></i>
                    <i ng-if="asset.type === 'audio'" class="icon-volume-up"></i>
                  </td>
                  <td class="text-left">{{ asset.filename }}</td>
                  <td class="text-left">{{ asset.brand }}</td>
                  <td class="action-col">
                    <i
                      class="icon-trash action-button remove"
                      ng-click="removeAsset(asset, $index)"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div><!-- .even-spread-container -->

    </div>
  </div>

  <!-- Targeting widget -->
  <div class="widget">
    <legend>
      <i class="icon-bullseye"></i>
      Targeting
    </legend>
    <div class="widget-contents">

      <!-- App Names -->
      <div class="even-spread-container">
        <input
          type="text"
          name="target_app_names"
          placeholder="App Names"
          class="form-control even-spread-fifths"
          tabindex="10"
          disabled
        />

        <!-- DMAs -->
        <div class="input-group even-spread-fifths">
          <input
            type="text"
            name="target_geo_dmas"
            class="form-control"
            tabindex="11"
            placeholder="DMAs"
            push-dma
            ng-model="dma"
            ng-options="dma.name as dma.name for dma in dmas"
            bs-typeahead
          />

          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <i class="icon-angle-down"></i>
            </button>

            <ul class="dma-dropdown dropdown-menu pull-right">
              <li ng-if="!lineitem.target_geo_dmas.length" class="no-select">
                <a href="#" class="text-center">No selected DMAs</a>
              </li>

              <li ng-if="lineitem.target_geo_dmas.length" class="no-select">
                <a href="#" class="text-center">-- Selected DMAs --</a>
              </li>

              <li ng-if="lineitem.target_geo_dmas.length" class="no-select">
                <a href="" class="text-center">
                  <small>(click to remove)</small>
                </a>
              </li>

              <li ng-if="lineitem.target_geo_dmas.length" class="divider"></li>

              <li class="toggle" ng-repeat="dma in dmaDesc" ng-click="removeDMA(dma)">
                <a href="#" class="remove-dma">
                  {{ dma }}
                  <i class="icon-remove opacity-70"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Time Zones -->
        <button type="button" class="btn btn-default even-spread-fifths"
          tabindex="12" data-html="1" data-multiple="1" placeholder="Time Zones"
          ng-model="lineitem.target_geo_timezones"
          ng-options="zone.value as zone.name for zone in timezones"
          data-animation="animation-flipX"
          template="select.tpl.html"
          placement="bottom"
          max-length="2"
          bs-select
          > Action <span class="caret"></span>
        </button>

        <!-- Operating Systems -->
        <button type="button" class="btn btn-default even-spread-fifths"
          tabindex="13" data-html="1" data-multiple="1" placeholder="Operating Systems"
          ng-model="lineitem.target_device_oses"
          ng-options="os.value as os.name for os in oses"
          data-animation="animation-flipX"
          template="select.tpl.html"
          placement="bottom"
          max-length="2"
          bs-select
          > Action <span class="caret"></span>
        </button>

        <!-- Dayparts (button) -->
        <button type="button"
          tabindex="14"
          class="btn even-spread-fifths"
          ng-class="{'btn-info': !toggleDayparts, 'btn-success': toggleDayparts}"
          ng-click="toggleDayparts = !toggleDayparts">
          <i class="icon-calendar"></i>
          <span ng-if="!toggleDayparts">&nbsp; Dayparts</span>
          <span ng-if="toggleDayparts">&nbsp; Confirm&nbsp;</span>
          <i class="icon-chevron-down dp-icon" ng-if="!toggleDayparts"></i>
          <i class="icon-ok dp-icon" ng-if="toggleDayparts"></i>

        </button>

      </div>
    </div>
  </div>

  <!-- Dayparts widget -->
  <div class="widget slide-down" ng-if="toggleDayparts">
    <legend>
      <i class="icon-calendar"></i>
      Dayparts
    </legend>
    <div class="widget-contents">

      <button type="button"
        style="margin-left: 1rem;"
        class="btn btn-danger pull-right"
        ng-click="clear()">Clear
      </button>

      <!-- DP Time Zone -->
      <button type="button"
        class="btn btn-default pull-right"
        data-html="1" placeholder="Time Zone"
        placement="left"
        ng-model="lineitem.target_dayparts.timezone"
        ng-options="dpZone.value as dpZone.name for dpZone in dpZones"
        ng-required
        data-animation="animation-flipX"
        bs-select
        > Action <span class="caret"></span>
      </button>

      <div class="table-responsive">
      <table class="dayparts table">
        <thead>
          <tr>
            <th>

            </th>
            <th ng-repeat="hour in day">{{ hour.label }}</th>
          </tr>
        </thead>
        <tbody>
          <!-- Sunday -->
          <tr>
            <th colspan="2">Sunday</th>
            <td ng-repeat="block in sunday"
                ng-click="toggleSelect(block)"
                ng-class="{selected: isSelected(block)}"
                data-day="{{ block.day }}"
                data-time="{{ block.time }}">
                <i class="icon-ok icon-lg" ng-if="block.selected"></i>
            </td>
          </tr>

          <!-- Monday -->
          <tr>
            <th colspan="2">Monday</th>
            <td ng-repeat="block in monday"
                ng-click="toggleSelect(block)"
                ng-class="{selected: isSelected(block)}"
                data-day="{{ block.day }}"
                data-time="{{ block.time }}">
                <i class="icon-ok icon-lg" ng-if="block.selected"></i>
            </td>
          </tr>

          <!-- Tuesday -->
          <tr>
            <th colspan="2">Tuesday</th>
            <td ng-repeat="block in tuesday"
                ng-click="toggleSelect(block)"
                ng-class="{selected: isSelected(block)}"
                data-day="{{ block.day }}"
                data-time="{{ block.time }}">
                <i class="icon-ok icon-lg" ng-if="block.selected"></i>
            </td>
          </tr>

          <!-- Wednesday -->
          <tr>
            <th colspan="2">Wednesday</th>
            <td ng-repeat="block in wednesday"
                ng-click="toggleSelect(block)"
                ng-class="{selected: isSelected(block)}"
                data-day="{{ block.day }}"
                data-time="{{ block.time }}">
                <i class="icon-ok icon-lg" ng-if="block.selected"></i>
            </td>
          </tr>

          <!-- Thursday -->
          <tr>
            <th colspan="2">Thursday</th>
            <td ng-repeat="block in thursday"
                ng-click="toggleSelect(block)"
                ng-class="{selected: isSelected(block)}"
                data-day="{{ block.day }}"
                data-time="{{ block.time }}">
                <i class="icon-ok icon-lg" ng-if="block.selected"></i>
            </td>
          </tr>

          <!-- Friday -->
          <tr>
            <th colspan="2">Friday</th>
            <td ng-repeat="block in friday"
                ng-click="toggleSelect(block)"
                ng-class="{selected: isSelected(block)}"
                data-day="{{ block.day }}"
                data-time="{{ block.time }}">
                <i class="icon-ok icon-lg" ng-if="block.selected"></i>
            </td>
          </tr>

          <!-- Saturday -->
          <tr>
            <th colspan="2">Saturday</th>
            <td ng-repeat="block in saturday"
                ng-click="toggleSelect(block)"
                ng-class="{selected: isSelected(block)}"
                data-day="{{ block.day }}"
                data-time="{{ block.time }}">
                <i class="icon-ok icon-lg" ng-if="block.selected"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>

  <div class="form-buttons">
    <a href="/campaigns/{{ campaignId }}" class="btn btn-default" tabindex="15">
      Cancel
    </a>
    <button type="submit" class="btn btn-primary" tabindex="16">
      Submit
    </button>
  </div>
</form>

<!-- ngStrap 'Select' template override -->
<script type="text/ng-template" id="select.tpl.html">
  <ul class="select dropdown-menu" ng-show="$isVisible()" role="select">
    <li role="presentation" ng-repeat="match in $matches" ng-class="{active: $isActive($index)}">
      <a style="cursor: default;" role="menuitem" ng-click="$select($index, $event)">
        <span ng-bind="match.label"></span>
        <i class="icon-ok pull-right" ng-if="$isMultiple && $isActive($index)"></i>
      </a>
    </li>
  </ul>
</script>
