<!-- Breadcrumbs -->
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/campaigns">Campaigns</a></li>
  <li><a href="/campaigns/{{ campaign.id }}">{{ campaign.name }}</a></li>
  <li><a href="/campaigns/new">Edit</a></li>
</ul>

<div class="widget">
  <legend>
    <i class="icon-dashboard"></i>
    Edit Campaign
  </legend>
  <div class="widget-contents">
    <form role="form" ng-submit="submit(campaign)">
      <div class="even-spread-container between-rows">
        <!-- Name -->
        <div class="form-group even-spread-thirds">
          <label>Name</label>
          <input type="text" name="name" class="form-control" placeholder="Campaign name"
            tabindex="1"
            ng-minlength="3"
            ng-model="campaign.name"
            required
          />
        </div>

        <!-- Date Range -->
        <div class="form-group even-spread-thirds">
          <label>Start Date</label>
          <input type="text"
            class="form-control"
            placeholder="Start Date"
            tabindex="2"
            datepicker-popup="EEEE, dd MMMM yyyy"
            show-weeks="false"
            min="today"
            name="start_date"
            ng-model="campaign.start_date"
            calendar-popup
          />
        </div>

        <div class="form-group even-spread-thirds">
          <label>End Date</label>
          <input type="text"
            class="form-control"
            placeholder="End Date"
            tabindex="3"
            datepicker-popup="EEEE, dd MMMM yyyy"
            show-weeks="false"
            name="end_date"
            ng-model="campaign.end_date"
            calendar-popup
          />
        </div>

      </div>

      <div class="even-spread-container">
        <!-- Advertiser -->
        <div class="form-group even-spread-quarters">
          <label>Advertiser</label><br />
          <button type="button" id="select-adv" class="btn btn-default dropdown-label"
            data-html="1"
            tabindex="4"
            bs-select
            ng-required
            ng-model="campaign.advertiser_id"
            data-animation="animation-flipX"
            ng-options="advertiser.id as advertiser.name for advertiser in advertisers"
            placeholder="Choose an advertiser"
            > Action <span class="caret"></span>
          </button>
        </div>

        <!-- Dollar Budget -->
        <div class="form-group even-spread-quarters">
          <label>Dollar Budget</label>
          <input type="number" name="dollar_budget"
            class="form-control"
            placeholder="Dollar Budget"
            tabindex="5"
            min="100"
            ng-minlength="3"
            ng-model="campaign.dollar_budget"
            required
          />
        </div>


        <!-- Impression Budget -->
        <div class="form-group even-spread-quarters">
          <label>Impression Budget</label>
          <input
            type="number"
            name="imp_budget"
            class="form-control"
            placeholder="Impression Budget"
            tabindex="6"
            min="1"
            ng-minlength="1"
            ng-maxlength="15"
            ng-model="campaign.imp_budget"
            required
          />
        </div>

        <!-- Pacing Type -->
        <div class="form-group even-spread-quarters">
          <label>Pacing Type</label><br />
          <button type="button"
            class="btn btn-default dropdown-label"
            placeholder="Pacing Type"
            tabindex="7" data-html="1"
            ng-model="campaign.pacing_type"
            ng-options="pacingType.value as pacingType.name for pacingType in pacingTypes"
            data-animation="animation-flipX"
            bs-select
            required
            > Action <span class="caret"></span>
          </button>
        </div>

      </div>
      <br /><br />
      <a href="/campaigns/{{ campaign.id }}" tabindex="8" class="btn btn-default">Cancel</a>
      <button type="submit" tabindex="9" class="btn btn-primary">Update</button>
    </form>
  </div>
</div>

<!-- <pre>{{ campaign | json }}</pre> -->
